---
import Layout from '../layouts/Layout.astro';
import siteConfig from '@config/site';
import { getLangFromUrl, useTranslations, useTranslatedPath } from '@i18n/utils';
import { DEFAULT_LOCALE } from '@lib/language';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);
---
<Layout title={t('ui.not_found')} description={t('ui.not_found')}>
  <div class="sect404">
    <div class="sect404__wrapper">
      <div class="sect404__top">
        <div>4</div>
        <span class="icon">🤔</span>
        <div>4</div>
      </div>

      <div class="sect404__text">{t('ui.not_found')}</div>
      <div class="article__category category">
        <div class="category__item category__item--light-blue">
          <a class="category__item category__item--light-blue" href={translatePath('/')}>
            💻 {siteConfig.title[lang] ?? siteConfig.title[DEFAULT_LOCALE]}
          </a>
        </div>
      </div>
    </div>
  </div>
</Layout>
